openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://on-this-day-api.helopsokken.nl'
paths:
  '/api/v1/events/that-happened-on/{month}/{day}':
    get:
      summary: 'Fetch events that happened on a specific day'
      operationId: fetchEventsThatHappenedOnASpecificDay
      description: ''
      parameters:
        -
          in: query
          name: limit
          description: 'The limit of the events'
          example: 10
          required: false
          schema:
            type: integer
            description: 'The limit of the events'
            example: 10
        -
          in: query
          name: category
          description: 'The category of the event'
          example: births
          required: false
          schema:
            type: string
            description: 'The category of the event'
            example: births
            enum:
              - births
              - deaths
              - holidays
              - selected
              - other
        -
          in: query
          name: language
          description: 'The language of the event'
          example: en
          required: false
          schema:
            type: string
            description: 'The language of the event'
            example: en
            enum:
              - en
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      year: null
                      category: births
                      description: 'Joe Scally, American soccer player'
                    -
                      year: null
                      category: births
                      description: 'Katie Volynets, American tennis player'
                    -
                      year: null
                      category: births
                      description: 'Alycia Parks, American tennis player'
                    -
                      year: null
                      category: births
                      description: 'Hunter Schafer, American actress, model, and activist'
                    -
                      year: null
                      category: births
                      description: 'Cameron Carter-Vickers, English-American soccer player'
                    -
                      year: null
                      category: births
                      description: 'J. J. Arcega-Whiteside, Spanish-American football player'
                    -
                      year: null
                      category: births
                      description: 'Gabby Douglas, American gymnast'
                    -
                      year: null
                      category: births
                      description: 'Edmond Sumner, American basketball player'
                    -
                      year: null
                      category: births
                      description: 'Amy Cure, Australian track cyclist'
                    -
                      year: null
                      category: births
                      description: 'Karl Kruuda, Estonian racing driver'
                properties:
                  data:
                    type: array
                    example:
                      -
                        year: null
                        category: births
                        description: 'Joe Scally, American soccer player'
                      -
                        year: null
                        category: births
                        description: 'Katie Volynets, American tennis player'
                      -
                        year: null
                        category: births
                        description: 'Alycia Parks, American tennis player'
                      -
                        year: null
                        category: births
                        description: 'Hunter Schafer, American actress, model, and activist'
                      -
                        year: null
                        category: births
                        description: 'Cameron Carter-Vickers, English-American soccer player'
                      -
                        year: null
                        category: births
                        description: 'J. J. Arcega-Whiteside, Spanish-American football player'
                      -
                        year: null
                        category: births
                        description: 'Gabby Douglas, American gymnast'
                      -
                        year: null
                        category: births
                        description: 'Edmond Sumner, American basketball player'
                      -
                        year: null
                        category: births
                        description: 'Amy Cure, Australian track cyclist'
                      -
                        year: null
                        category: births
                        description: 'Karl Kruuda, Estonian racing driver'
                    items:
                      type: object
                      properties:
                        year:
                          type: string
                          example: null
                        category:
                          type: string
                          example: births
                        description:
                          type: string
                          example: 'Joe Scally, American soccer player'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: month
        description: 'The month of the event'
        example: 12
        required: true
        schema:
          type: string
      -
        in: path
        name: day
        description: 'The day of the event'
        example: 31
        required: true
        schema:
          type: string
tags:
  -
    name: Endpoints
    description: ''
