openapi: 3.0.3
info:
  title: 'On This Day API'
  description: 'On This Day API is a provides a list of events that happened on a specific day in history.'
  version: 1.0.0
servers:
  -
    url: 'https://onthisday.zwart-hart.nl'
paths:
  '/api/v1/events/that-happened-on/{month}/{day}':
    get:
      summary: 'Fetch events that happened on a specific day'
      operationId: fetchEventsThatHappenedOnASpecificDay
      description: "Fetch events that happened on a specific day\nThis endpoint fetches events that happened on a specific day."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      year: 2023
                      category: deaths
                      description: 'Melissa Hoskins, ciclista australiana (n. 1991).'
                    -
                      year: 2022
                      category: deaths
                      description: 'Papa Bento XVI (n. 1927)'
                    -
                      year: 2022
                      category: deaths
                      description: 'Alberto Sampaio da Nóvoa, ministro português (n. 1927).'
                    -
                      year: 2021
                      category: deaths
                      description: 'Betty White, atriz e comediante estadunidense (n. 1922).'
                    -
                      year: 2021
                      category: deaths
                      description: 'Juan Figer, empresário uruguaio (n. 1934)'
                    -
                      year: 2020
                      category: deaths
                      description: 'Dick Thornburgh, advogado estadunidense (n. 1932).'
                    -
                      year: 2019
                      category: deaths
                      description: 'Juliano Cezar, cantor brasileiro (n. 1961).'
                    -
                      year: 2019
                      category: deaths
                      description: 'Djimrangar Dadnadji, político chadiano (n. 1954).'
                properties:
                  data:
                    type: array
                    example:
                      -
                        year: 2023
                        category: deaths
                        description: 'Melissa Hoskins, ciclista australiana (n. 1991).'
                      -
                        year: 2022
                        category: deaths
                        description: 'Papa Bento XVI (n. 1927)'
                      -
                        year: 2022
                        category: deaths
                        description: 'Alberto Sampaio da Nóvoa, ministro português (n. 1927).'
                      -
                        year: 2021
                        category: deaths
                        description: 'Betty White, atriz e comediante estadunidense (n. 1922).'
                      -
                        year: 2021
                        category: deaths
                        description: 'Juan Figer, empresário uruguaio (n. 1934)'
                      -
                        year: 2020
                        category: deaths
                        description: 'Dick Thornburgh, advogado estadunidense (n. 1932).'
                      -
                        year: 2019
                        category: deaths
                        description: 'Juliano Cezar, cantor brasileiro (n. 1961).'
                      -
                        year: 2019
                        category: deaths
                        description: 'Djimrangar Dadnadji, político chadiano (n. 1954).'
                    items:
                      type: object
                      properties:
                        year:
                          type: integer
                          example: 2023
                        category:
                          type: string
                          example: deaths
                        description:
                          type: string
                          example: 'Melissa Hoskins, ciclista australiana (n. 1991).'
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 100.'
                  example: 8
                category:
                  type: string
                  description: ''
                  example: deaths
                  enum:
                    - births
                    - deaths
                    - holidays
                    - regular
                language:
                  type: string
                  description: ''
                  example: pt
                  enum:
                    - en
                    - de
                    - fr
                    - sv
                    - pt
                    - ru
                    - es
                    - ar
                    - bs
      security: []
    parameters:
      -
        in: path
        name: month
        description: 'The month of the events'
        example: 12
        required: true
        schema:
          type: integer
      -
        in: path
        name: day
        description: 'The day of the events'
        example: 31
        required: true
        schema:
          type: integer
tags:
  -
    name: Endpoints
    description: ''
