openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://on-this-day-api.helopsokken.nl'
paths:
  '/api/v1/events/that-happened-on/{month}/{day}':
    get:
      summary: 'Fetch events that happened on a specific day'
      operationId: fetchEventsThatHappenedOnASpecificDay
      description: "Fetch events that happened on a specific day\nThis endpoint fetches events that happened on a specific day."
      parameters:
        -
          in: query
          name: limit
          description: 'The limit of the events'
          example: 10
          required: false
          schema:
            type: integer
            description: 'The limit of the events'
            example: 10
        -
          in: query
          name: category
          description: 'The category of the event'
          example: births
          required: false
          schema:
            type: string
            description: 'The category of the event'
            example: births
            enum:
              - births
              - deaths
              - holidays
              - regular
        -
          in: query
          name: language
          description: 'The language of the event'
          example: en
          required: false
          schema:
            type: string
            description: 'The language of the event'
            example: en
            enum:
              - en
              - de
              - fr
              - sv
              - pt
              - ru
              - es
              - ar
              - bs
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      year: 2022
                      category: deaths
                      description: 'Bert-Åke Varg, 90, svensk skådespelare.'
                    -
                      year: 2022
                      category: deaths
                      description: 'Benedictus XVI, 95, Katolska kyrkans 265:e påve'
                    -
                      year: 2021
                      category: deaths
                      description: 'Betty White, 99, amerikansk skådespelare.'
                    -
                      year: 2020
                      category: deaths
                      description: 'Dick Thornburgh, 88, amerikansk republikansk politiker, USA:s justitieminister 1988–1991.'
                    -
                      year: 2018
                      category: deaths
                      description: 'Ray Sawyer, 81, amerikansk musiker, medlem i gruppen Dr. Hook and the Medicine Show.'
                    -
                      year: 2015
                      category: deaths
                      description: 'Natalie Cole, 65, amerikansk sångare.'
                    -
                      year: 2014
                      category: deaths
                      description: 'Arthur Wellesley, 8:e hertig av Wellington, 99, brittisk adelsman, militär och företagsledare.'
                    -
                      year: 2014
                      category: deaths
                      description: 'Edward Herrmann, 71, amerikansk skådespelare.'
                    -
                      year: 2013
                      category: deaths
                      description: 'Sigrid Kahle, 85, svensk journalist och författare.'
                    -
                      year: 2013
                      category: deaths
                      description: 'James Avery, 68, amerikansk skådespelare.'
                    -
                      year: 2010
                      category: deaths
                      description: 'Per Oscarsson, 83, svensk skådespelare.'
                    -
                      year: 2009
                      category: deaths
                      description: 'Rickard Fagerlund, 72, svensk idrottsledare.'
                    -
                      year: 2009
                      category: deaths
                      description: 'Rashid Kawawa, 83, tanzanisk politiker, före detta premiärminister.'
                    -
                      year: 2008
                      category: deaths
                      description: 'Donald E. Westlake, 75, amerikansk författare.'
                    -
                      year: 2007
                      category: deaths
                      description: 'Markku Peltola, 51, finländsk skådespelare och musiker.'
                    -
                      year: 2007
                      category: deaths
                      description: 'Ettore Sottsass, 90, italiensk designer.'
                    -
                      year: 2000
                      category: deaths
                      description: 'Alan Cranston, 86, amerikansk demokratisk politiker, senator (Kalifornien) 1969–1993.'
                    -
                      year: 1999
                      category: deaths
                      description: 'Elliot Richardson, 79, amerikansk republikansk politiker (hjärnblödning).'
                properties:
                  data:
                    type: array
                    example:
                      -
                        year: 2022
                        category: deaths
                        description: 'Bert-Åke Varg, 90, svensk skådespelare.'
                      -
                        year: 2022
                        category: deaths
                        description: 'Benedictus XVI, 95, Katolska kyrkans 265:e påve'
                      -
                        year: 2021
                        category: deaths
                        description: 'Betty White, 99, amerikansk skådespelare.'
                      -
                        year: 2020
                        category: deaths
                        description: 'Dick Thornburgh, 88, amerikansk republikansk politiker, USA:s justitieminister 1988–1991.'
                      -
                        year: 2018
                        category: deaths
                        description: 'Ray Sawyer, 81, amerikansk musiker, medlem i gruppen Dr. Hook and the Medicine Show.'
                      -
                        year: 2015
                        category: deaths
                        description: 'Natalie Cole, 65, amerikansk sångare.'
                      -
                        year: 2014
                        category: deaths
                        description: 'Arthur Wellesley, 8:e hertig av Wellington, 99, brittisk adelsman, militär och företagsledare.'
                      -
                        year: 2014
                        category: deaths
                        description: 'Edward Herrmann, 71, amerikansk skådespelare.'
                      -
                        year: 2013
                        category: deaths
                        description: 'Sigrid Kahle, 85, svensk journalist och författare.'
                      -
                        year: 2013
                        category: deaths
                        description: 'James Avery, 68, amerikansk skådespelare.'
                      -
                        year: 2010
                        category: deaths
                        description: 'Per Oscarsson, 83, svensk skådespelare.'
                      -
                        year: 2009
                        category: deaths
                        description: 'Rickard Fagerlund, 72, svensk idrottsledare.'
                      -
                        year: 2009
                        category: deaths
                        description: 'Rashid Kawawa, 83, tanzanisk politiker, före detta premiärminister.'
                      -
                        year: 2008
                        category: deaths
                        description: 'Donald E. Westlake, 75, amerikansk författare.'
                      -
                        year: 2007
                        category: deaths
                        description: 'Markku Peltola, 51, finländsk skådespelare och musiker.'
                      -
                        year: 2007
                        category: deaths
                        description: 'Ettore Sottsass, 90, italiensk designer.'
                      -
                        year: 2000
                        category: deaths
                        description: 'Alan Cranston, 86, amerikansk demokratisk politiker, senator (Kalifornien) 1969–1993.'
                      -
                        year: 1999
                        category: deaths
                        description: 'Elliot Richardson, 79, amerikansk republikansk politiker (hjärnblödning).'
                    items:
                      type: object
                      properties:
                        year:
                          type: integer
                          example: 2022
                        category:
                          type: string
                          example: deaths
                        description:
                          type: string
                          example: 'Bert-Åke Varg, 90, svensk skådespelare.'
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 100.'
                  example: 18
                category:
                  type: string
                  description: ''
                  example: deaths
                  enum:
                    - births
                    - deaths
                    - holidays
                    - regular
                language:
                  type: string
                  description: ''
                  example: sv
                  enum:
                    - en
                    - de
                    - fr
                    - sv
                    - pt
                    - ru
                    - es
                    - ar
                    - bs
      security: []
    parameters:
      -
        in: path
        name: month
        description: 'The month of the events'
        example: 12
        required: true
        schema:
          type: integer
      -
        in: path
        name: day
        description: 'The day of the events'
        example: 31
        required: true
        schema:
          type: integer
tags:
  -
    name: Endpoints
    description: ''
